<style>
    .floatThead-table {background-color: #FFFFFF;}
</style>
<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <span class="am-badge am-badge-danger">子平台:</span>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=-1" class="am-badge am-badge-warning am-round">
            所有平台		</a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=1009">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">快用_iOS_飞流</span>
        </a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=10109">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">快用2_iOS_飞流</span>
        </a>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-scrollable-horizontal">
		{{.fileInfo}}<br>
		{{.t1}}<br>
		{{.t2}}<br>
		{{.t3}}<br>
    </div>
</div>