<style>
    .floatThead-table {background-color: #FFFFFF;}
</style>
<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <span class="am-badge am-badge-danger">子平台:</span>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=-1" class="am-badge am-badge-warning am-round">
            所有平台		</a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=1009">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">YY</span>
        </a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=10109">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">XX</span>
        </a>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-scrollable-horizontal">
        <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-compact am-table-hover am-text-nowrap tablesorter">
            <caption>请求信息</caption>
			<tbody>
				<tr style='background:#d0d0d0 !important'>
					<td>{{.req_method}} {{.url}} {{.req_proto}}</td>
                </tr>
				<tr style='background:#d0d0d0 !important'>
					<td>Host:</td><td>{{.url}}</td>
                </tr>

				{{range $key,$val := .req_headers}}
				<tr style='background:#d0d0d0 !important'>
					<td>{{$key}}</td><td>{{$val}}</td>
                </tr>
				{{end}}
            </tbody>
        </table>

		<table class="am-table am-table-bordered am-table-radius am-table-striped am-table-compact am-table-hover am-text-nowrap tablesorter">
            <caption>响应信息</caption>
			<tbody>
				<tr style='background:#d0d0d0 !important'>
					<td>{{.proto}} {{.code}}</td>
                </tr>

				{{range $key,$val := .rep_headers}}
				<tr style='background:#d0d0d0 !important'>
					<td>{{$key}}</td><td>{{$val}}</td>
                </tr>
				{{end}}

				<tr style='background:#d0d0d0 !important'>
					<td>响应body<td>{{.ret}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>