<style>
    .floatThead-table {background-color: #FFFFFF;}
</style>
<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <span class="am-badge am-badge-danger">子平台:</span>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=-1" class="am-badge am-badge-warning am-round">
            所有平台		</a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=1009">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">快用_iOS_飞流</span>
        </a>
        <a href="{{.siteUrl}}/game_package/index?big_app_id=1009&sub_app_id=10109">
            <span class="am-badge am-badge-primary am-round" style="vertical-align: baseline">快用2_iOS_飞流</span>
        </a>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-scrollable-horizontal">
        <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-compact am-table-hover am-text-nowrap tablesorter">
            <thead>
                <tr>
                    <th>Go版本<i class="fa fa-sort"></i></th>								
                    <th>GOROOT<i class="fa fa-sort"></i></th>								
                    <th>GOPATH<i class="fa fa-sort"></i></th>								
                    <th>GOMaxnum<i class="fa fa-sort"></i></th>								
                   	<th>GOArch<i class="fa fa-sort"></i></th>
					<th>操作<i class="fa fa-sort"></i></th>					
                </tr>
            </thead>
            <tbody>
 				<tr style='background:#d0d0d0 !important'>
					<td>{{.goVersion}}</td>
					<td>{{.goRoot}}</td>
					<td>{{.goPath}}</td>
					<td>{{.goMaxProcs}}</td>
					<td>{{.goArch}}</td>
					<td>新增 编辑 删除</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>