<div class="am-cf admin-main">
<div class="admin-content">
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">平台列表</strong> </div>
	</div>
	<div class="am-tabs am-margin" >
		<ul class="am-tabs-nav am-nav am-nav-tabs">
			<li class="am-active"><a href="http://raysdk.com/game-package-manager/applist/applist?game_name=empire">帝国争霸</a></li>
		</ul>
		<div class="am-tabs-bd">
	<div class=" am-scrollable-horizontal"><br>
		<table class="am-table am-table-bordered am-table-radius am-table-striped am-table-compact am-table-hover am-text-nowrap tablesorter">
			<thead>
				<tr>
					<th>Appid</th>
					<th>平台名称 / 子平台数</th>
					<th>待接入数</th>
					<th>正在接入数</th>
					<th>开发包数</th>
					<th>测试包数</th>
					<th>提审包数</th>
					<th>上线包数</th>
					<th>下线包数</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="http://raysdk.com/game-package-manager/game_package/index?big_app_id=1009&sub_app_id=-1">1009</a></td>
					<td><a href="http://raysdk.com/game-package-manager/game_package/index?big_app_id=1009&sub_app_id=-1">快用_iOS越狱_飞流</a>															<span class="am-badge am-badge-danger am-radius am-text-sm">新开服</span><a title="点击跳转到包总览" href="http://raysdk.com/game-package-manager/game_package/index?big_app_id=1009&sub_app_id=-1"><span class="am-badge  am-badge-warning am-round">2</span></a>						</td>
					<td><span class="am-badge am-badge-danger am-round">0</span></td>
					<td><span class="am-badge am-badge-pink am-round">0</span></td>
					<td><span class="am-badge am-badge-warning am-round">0</span></td>
					<td><span class="am-badge am-badge-success am-round">0</span></td>
					<td><span class="am-badge am-badge-secondary am-round">0</span></td>
					<td><span class="am-badge am-badge-primary am-round">2</span></td>
					<td><span class="am-badge am-badge-default am-round">2</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" src="http://raysdk.com/game-package-manager/assets/amazeui/js/formatted-numbers.js"></script>
		</div>
	</div>
</div>
	
	